* {
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
}


body {
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    Font:normal normal normal 18px/1.5 Joan, sans-serif;
    color:black;
}

.border-main-header {
    position: relative;
    background-color: #800000;
    letter-spacing: 2px;
}

.border-main-main {
    border: 1px solid white;
    margin: 10px 50px 30px 30px;
    padding: 10px 80px 20px 20px;
}

.border-main-footer {
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: #800000;
    width: 1440px;
}

.link {
    text-decoration: none;
    color: white;
    transition: color 0.5s;
}

.link:hover {
    color: #C0C0C0;

}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.main-cont {
    display: flex;
    flex-wrap: wrap;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-size: 20px;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
    color: white;
    Font-variant: small-caps;
    Font-weight: 700;
}

.footer-list {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-link {
    margin: 0 50px;
    transition: .3s;
    Font-weight: 700;
    font-size: 20px;
    display: flex;
}

.github-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    height: 90px;
    
}

.section {
    width: 50%;
}

.section-item a {
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}

.section-item a:hover {
    color: #C0C0C0;
}

.section-title {
    Font: normal normal bold 25px/1.5 Joan, sans-serif;
    letter-spacing: 1px;
    color: black;
}

.code-example {
    font: 14px/1.5 Arial, sans-serif;
    color: black;
}

.code-color1 {
    color: #4169E1;
}

.code-color2 {
    color: #808000;
}

@media (max-width:768px) {
    .section {
        width: 100%;
    }
}