* {
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
}


body {
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    Font: normal normal normal 18px/1.5 Joan, sans-serif;
    color: black;
}

.border-main-header {
    position: relative;
    background-color: #800154;
    letter-spacing: 2px;
}

.border-main-main {
    border: 1px solid white;
    margin: 10px 50px 30px 30px;
    padding: 10px 80px 20px 20px;
}

.border-main-footer {
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: #800154;
    width: 1440px;
    color: #ffffff;
}

.link {
    text-decoration: none;
    color: white;
    transition: color 0.5s;
}

.link:hover {
    color: #C0C0C0;

}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.main-cont {
    display: flex;
    flex-wrap: wrap;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-size: 20px;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
    color: white;
    Font-variant: small-caps;
    Font-weight: 700;
}


.github-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    height: 90px;

}

.section {
    width: 50%;
}

.section-item a {
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}

.section-item a:hover {
    color: #C0C0C0;
}

.section-title {
    Font: normal normal bold 25px/1.5 Joan, sans-serif;
    letter-spacing: 1px;
    /* color: black; */
    animation: color-change 7s infinite;
    transition: all 5s;
    transition-duration: 10s
}

.profile_photo {
    position: relative;
    background: url("./assets/img/IMG_6812.jpg");
    width: 200px;
    height: 200px;
    background-size: 100%;
    border: 5px double #800154;
}

.profile__name {
    position: absolute;
    font-size: 30px;
     top: 80%;
    right: 0;
    font-weight: 600;
}

.code-example {
    font: 14px/1.5 Arial, sans-serif;
    color: black;
}

.code-color1 {
    color: #4169E1;
}

.code-color2 {
    color: #808000;
}

.footer-list {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.footer-link {
    margin: 0 50px;
    transition: .3s;
    Font-weight: 700;
    font-size: 20px;
    display: flex;
 fill:#ffffff;
    /* background: #000000; */
    /* color: #ffffff; */
}

.footer__year {
    color: #000000;
    font-size: 30px;
}

@media (max-width:768px) {
    .section {
        width: 100%;
    }
}

@keyframes color-change {
    0% {
        color: #54344b;
    }

    100% {
        color: #800154;
    }
}